<nav class="d-flex align-items-center">

    
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
  
        
        <li class="nav-item dropdown">
          <a class="nav-link nav-icon">
            <button type="button" class="btn btn-success rounded-pill" onclick="location.reload()">Crear archivo</button>
          </a>
        </li>

        
        <li class="nav-item dropdown">

          <input type="file" name="avatar"  class="btn btn-primary" accept="application/CST, application/CST"  (change)="onChange($event)">
             <!-- <pre> {{fileContent}} </pre>-->
      </li>
  
        <!--<li class="nav-item dropdown">
          <a class="nav-link nav-icon">
          
            <button  type="button" class="btn btn-success rounded-pill"  >Abrir archivo</button>
          </a>
        </li>-->
  
        
        <li class="nav-item dropdown">
          <a class="nav-link nav-icon">
            <button  type="button" class="btn btn-success rounded-pill" (click) = "download()" >Guardar Como</button>
          </a>
        </li>
  
  
        
        <li class="nav-item dropdown">
          <a class="nav-link nav-icon">
            <button type="button" class="btn btn-primary rounded-pill"  (click) = "setInfo()" >Ejecutar</button>
          </a>
        </li>
  
        <li class="nav-item dropdown">
          <a class="nav-link nav-icon">

          <button type="button" class="btn btn-danger rounded-pill"   (click) = "getInfo()">Reportes Errores</button>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link nav-icon">

          <button type="button" class="btn btn-danger rounded-pill"   (click) = "getInfo()">Reportes ats</button>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link nav-icon">

          <button type="button" class="btn btn-danger rounded-pill"   (click) = "getInfo()"> Reporte simbolos</button>
          <button class="tablink" onclick="openPage('TablaSim')">Tabla de Simbolos</button>
          </a>
        </li>
  
      </ul>
    </nav>
  
    </nav><!-- End Header Buttons -->



<h2>Entrada</h2>
<ace-editor 
class="entrada_Ace"
style="height:500px;"
[theme]="'monokai'"
id="entrada_Ace"
mode="java" 
></ace-editor>

<h2>Salida</h2>

<div class="salida_Ace" id='salida_Ace'  style="height:500px;"></div>

<h2>REPORTE DATA</h2>
<pre> {{Tablasimbolos}} </pre>

<table>
  <thead  class="thead-dark"><tr><td colspan="6">Tabla de Simbolos </td></tr><tr><th>Rol</th><th>Nombre</th><th>Tipo</th><th>Ambito</th><th>Valor</th><th>Parametros</th></tr></thead>
  <tbody>
    <tr></tr>
  </tbody>
</table>

