  <!-- ======= Header Buttons ======= -->
  
  <nav class="d-flex align-items-center">

    
  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      
      <li class="nav-item dropdown">
        <a class="nav-link nav-icon">
          <button type="submit" class="btn btn-success rounded-pill" >Crear archivo</button>
        </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link nav-icon">
          <button id="botonPDF" type="submit" class="btn btn-success rounded-pill"  >Abrir archivo</button>
        </a>
      </li>

      
      <li class="nav-item dropdown">
        <a class="nav-link nav-icon">
          <button id="botonPDF" type="submit" class="btn btn-success rounded-pill"  >Guardar el archivo</button>
        </a>
      </li>


      
      <li class="nav-item dropdown">
        <a class="nav-link nav-icon">
          <button id="botonPDF" type="submit" class="btn btn-primary rounded-pill"  >Ejecutar</button>
        </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link nav-icon">
          <button
          type="button"
          class="
            inline-flex
            items-center
            px-2.5
            py-1.5
            border border-gray-300
            shadow-sm
            text-xs
            font-medium
            rounded
            text-gray-700
            bg-white
            hover:bg-gray-50
            focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
          "
          (click)="clear()"
        >
          Clear Content
        </button>
        <button type="button" class="btn btn-danger rounded-pill" id= "Limpiar"  >Reportes</button>
        </a>
      </li>

    </ul>
  </nav>

  </nav><!-- End Header Buttons -->
<br>
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="ngx-codemirror mb-2">
    <ngx-codemirror
      [options]="options"
      [ngModel]="defaults[mode]"
      [disabled]="readOnly"
      [autoFocus]="true"
      (ngModelChange)="handleChange($event)"
    ></ngx-codemirror>
  </div>
<br>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Consola</h5>


    <div class="card">
      <div class="card-body">
        <h5 class="card-title"></h5>

        <textarea disabled style=" width: 100%;" rows="20"  id= "Exditor_Salida">Salida</textarea>

      </div>
    </div>
  </div>
</div>

